# Visual Studio Code
.vscode
*.code-workspace

# PyCharm
.idea

# Temporary and local
**_local**
**_temp**
*.log

# Python
__pycache__
.pytest_cache

# LaTex
latex-build
*.aux
*.fdb_latexmk
*.fls
*.gz
*.xdv
*.pdf

# Other
Labolatorium_1_i_2/Mkh_splitter/neh.data.txt
Labolatorium_1_i_2/Mkh_splitter/splitted/*
rand/

# Data files
Labolatorium_1_i_2/example_data/*
!Labolatorium_1_i_2/example_data/*.txt
